html,body{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
	opacity: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container{
	max-width: 1200px;
	width: 100%;
	padding: $gutter;
	margin: 0 auto;
}

//fluid container, and make container full width for mobile
.container.fluid{
	max-width:none;
}

.row:before, 
.row:after {
	content:' ';
	display: table ;
	clear:both;
}

.col{
	width: 100%;
	float: left;
	padding: $gutter;
	min-height: 1px;
}

@each $size in $sizes{

	body.#{$size} .col.#{$size}-hide{
		display: none !important;
	}

	@for $i from 1 through $columns{
	
		@if $i < $columns {
			// .col .{size}-12 can be covered by just .col, so omit it to save size.
			body.#{$size} .col.#{$size}-#{$i}{
				width: percentage($i/$columns);
			}
		
			body.#{$size} .col.#{$size}-offset-#{$i}{
				margin-left: percentage($i/$columns);
			}
		}
		
	}
}