html { font-size: 62.5%; } 

body {
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	color: $base_font_color;
	font-family: $base_font_face;
	font-size: 1.3rem;
}

a{
	text-decoration: none;
	color: #337ab7;
	font-size: 1.3rem;
}

a.underline{
	text-decoration: underline;
}

a:hover {
  color: #0FA0CE;
}

p {
	font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: $margin;
}

@for $i from 1 through 6 {
	$x: $h1_size - (($i - 1) * $h1_scale);
	h#{$i}{
		font-size: #{$x}rem;
	}
}

ul{
	list-style-type: none;
	list-style-position: outside;
	padding:0;
	margin:0;
}