html { font-size: 62.5%; } // 1rem = 10px

body {
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	color: $base_font_color;
	font-family: $base_font_face;
	font-size: $base_font_size;
	font-weight: normal;
}

a{
	text-decoration: none;
	color: #337ab7;
	font-size: inherit;
}

a:hover {
  color: #0FA0CE;
}

p {
	font-size: inherit;
	margin-bottom: $gutter;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: $gutter;
}

h1 {
	font-size: 11.2rem;
	font-weight: 300;
}

h2 {
	font-size: 5.6rem;
}

h3 {
	font-size: 4.5rem;
}

h4 {
	font-size: 3.4rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 2rem;
	font-weight: 500;
}

ol,ul{
	list-style-type: none;
	list-style-position: outside;
	padding:0;
	margin:0;
}