$gutter: 0 12px; // size of gutter
$columns: 12; // the number of columns
$sizes: m t d hd; // mobile, tablet, desktop, huge-desktop
$base_font_color: #212121;
$base_font_face: Roboto,sans-serif;
$margin: 2rem;
$h1_size: 4; //largest heading size
$h1_scale: .4; //decrease font size of headings by this amount